{% load static %} {% block content %}
<div id="about" class="main-content">
  <!-- Close Button Starts -->
  <a href="#home" class="close-menu-link">
    <i class="close-button fas fa-times-circle fa-2x"></i>
  </a>
  <!-- Close Button Ends -->
  <!-- Content Hanging On About Section Starts -->
  <div class="hanging">
    <div class="logo-hanging">
      <i class="fas fa-id-card"></i>
    </div>
    <div class="text-hanging">
      <div class="word">
        <h6>ABOUT <span>ME</span></h6>
      </div>
    </div>
  </div>
  <!-- Content Hanging On About Section Ends -->
  <!-- Inner Content Starts -->
  <div class="inner-content">
    <!-- Head Content Starts -->
    <div class="head-content">
      <h3>About <span>Me</span></h3>
    </div>
    <!-- Head Content Ends -->
    <!-- Content Starts -->
    <div class="content">
      <!-- Personal Info Starts -->
      <div id="personal-info">
        <!-- Personal Info Heading Starts -->
        <h5>Personal Info</h5>
        <!-- Personal Info Heading Ends -->
        <div class="row no-gutters">
          <!-- Profile Picture Starts -->
          <!-- <div class="profile-picture col-md-2 col-sm-3 col-12"></div> -->
          <!-- Profile Picture Ends -->
          <!-- Summary Starts -->
          <div class="summary col-md-10 col-sm-9 col-12">
            <!-- Single Paragraph Starts -->
            <p>
              Hey there, I am Saumyaranjan parida, I was born in virar(Mumbai)
              India. currently i reside in virar. I am a student pursuing B.E in
              Computer Science Engineering. I started to love programming from
              first year of my college. from that day i have been grinding
              myself in this programming world. I am fluent in classics like
              Python, Javascript and c++. i also have a Hands-on experience with
              Django and MERN Stack. My field of Interest's is in Web
              development, Machine Learning, and also in areas related to Deep
              Learning and Natural Launguage Processing.
            </p>
            <!-- Single Paragraph Ends -->
          </div>
          <!-- Summary Ends -->
          <!-- Single Profile Starts -->
          <div class="profile col-12 col-sm-6">
            <ul>
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>First Name</span>
                </span>
                <span class="dash">-</span>
                <span class="value">Saumyaranjan</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Last Name</span>
                </span>
                <span class="dash">-</span>
                <span class="value">Parida</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Date of Birth</span>
                </span>
                <span class="dash">-</span>
                <span class="value">19th march 2002</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <!-- <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Nationality</span>
                </span>
                <span class="dash">-</span>
                <span class="value">India</span>
              </li> -->
              <!-- Single Content On Profile Ends -->
            </ul>
          </div>
          <!-- Single Profile Ends -->
          <!-- Single Profile Starts -->
          <div class="profile col-12 col-sm-6">
            <ul>
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i><span>Phone</span>
                </span>
                <span class="dash">-</span>
                <span class="value">+91 7977787473</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i><span>Email</span>
                </span>
                <span class="dash">-</span>
                <span class="value">saumyaranjan.sp20@gmail.com</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i><span>Address</span>
                </span>
                <span class="dash">-</span>
                <span class="value">virar,Mumbai(India)</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Languages</span>
                </span>
                <span class="dash">-</span>
                <span class="value">English, Hindi, Odia, Marathi</span>
              </li>
              <!-- Single Content On Profile Ends -->
            </ul>
          </div>
          <!-- Single Profile Ends -->
          <!-- Social Media Starts -->
          <div class="social-media col-12">
            <ul>
              <!-- Single Social Media Starts -->
              <li>
                <a
                  href="https://www.facebook.com/profile.php?id=100007453277867"
                >
                  <span class="front">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                  <span class="back">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                </a>
              </li>
              <!-- Single Social Media Ends -->
              <!-- Single Social Media Starts -->
              <li>
                <a href="https://twitter.com/Saumyar45446524">
                  <span class="front">
                    <i class="fab fa-twitter"></i>
                  </span>
                  <span class="back">
                    <i class="fab fa-twitter"></i>
                  </span>
                </a>
              </li>
              <!-- Single Social Media Ends -->
              <!-- Single Social Media Starts -->
              <li>
                <a href="https://github.com/Saumya-ranjan/">
                  <span class="front">
                    <i class="fab fa-github"></i>
                  </span>
                  <span class="back">
                    <i class="fab fa-github"></i>
                  </span>
                </a>
              </li>
              <!-- Single Social Media Ends -->
              <!-- Single Social Media Starts -->
              <li>
                <a
                  href="https://www.linkedin.com/in/saumyaranjan-parida-37a40b184/"
                >
                  <span class="front">
                    <i class="fab fa-linkedin-in"></i>
                  </span>
                  <span class="back">
                    <i class="fab fa-linkedin-in"></i>
                  </span>
                </a>
              </li>
              <!-- Single Social Media Ends -->
            </ul>
          </div>
          <!-- Social Media Ends -->
          <!-- Button Wrapper Starts -->
          <div class="button-wrapper col-12">
            <!-- Single Button Starts -->
            <div class="single-button">
              <a
                href="https://drive.google.com/file/d/1amho96-QGr8XatjKNiEbcdujGMXeUPwJ/view?usp=sharing"
              >
                <span class="front">
                  <i class="fas fa-file-pdf"></i
                  ><span class="value">Download <span>CV</span></span>
                </span>
                <span class="back">
                  <i class="fas fa-file-pdf"></i
                  ><span class="value">Download <span>CV</span></span>
                </span>
              </a>
            </div>
            <!-- Single Button Ends -->
            <!-- Single Button Starts -->
            <div class="single-button" id="contact-me">
              <a href="#contact" id="contact-button">
                <span class="front">
                  <i class="fas fa-envelope"></i
                  ><span class="value">Contact <span>Me</span></span>
                </span>
                <span class="back">
                  <i class="fas fa-envelope"></i
                  ><span class="value">Contact <span>Me</span></span>
                </span>
              </a>
            </div>
            <!-- Single Button Ends -->
          </div>
          <!-- Button Wrapper Ends -->
        </div>
      </div>
      <!-- Personal Info Ends -->
      <!-- Services Starts -->

      <div id="services">
        <!--    
        <h5>Services</h5> -->

        <div class="row no-gutters">
          <!-- <div class="single-service col-sm-6 col-12">
            <ul>
              <li class="service-number">
                <span class="first-word">Service</span>
                <span class="second-word">01</span>
              </li>
              <li>
                <ul>
                  <li class="service-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Web Design</span>
                  </li>
                  <li class="service-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Inventore exercitationem.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
      -->
          <!-- <div class="single-service col-sm-6 col-12">
            <ul>
              <li class="service-number">
                <span class="first-word">Service</span>
                <span class="second-word">02</span>
              </li>
              <li>
                <ul>
                  <li class="service-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Web Development</span>
                  </li>
                  <li class="service-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit dio
                    hic deser.
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->

          <!-- <div class="single-service col-sm-6 col-12">
            <ul>
              <li class="service-number">
                <span class="first-word">Service</span>
                <span class="second-word">03</span>
              </li>
              <li>
                <ul>
                  <li class="service-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>UI / UX Design</span>
                  </li>
                  <li class="service-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ipsa, nostrum ad temporibus consequuntur nobis.
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->

          <!-- <div class="single-service col-sm-6 col-12">
            <ul>
              <li class="service-number">
                <span class="first-word">Service</span>
                <span class="second-word">04</span>
              </li>
              <li>
                <ul>
                  <li class="service-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Photography</span>
                  </li>
                  <li class="service-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias adef trescing provident perferendis.
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->
          <!-- Single Service Ends -->
        </div>
      </div>
      <!-- Services Ends -->
    </div>
    <!-- Content Ends -->
  </div>
  <!-- Inner Content Ends -->
</div>
{% endblock content %}
