{% block content %}
<div id="about" class="main-content">
  <!-- Close Button Starts -->
  <a href="#home" class="close-menu-link">
    <i class="close-button fas fa-times-circle fa-2x"></i>
  </a>
  <!-- Close Button Ends -->
  <!-- Content Hanging On About Section Starts -->
  <div class="hanging">
    <div class="logo-hanging">
      <i class="fas fa-id-card"></i>
    </div>
    <div class="text-hanging">
      <div class="word">
        <h6>ABOUT <span>ME</span></h6>
      </div>
    </div>
  </div>
  <!-- Content Hanging On About Section Ends -->
  <!-- Inner Content Starts -->
  <div class="inner-content">
    <!-- Head Content Starts -->
    <div class="head-content">
      <h3>About <span>Me</span></h3>
    </div>
    <!-- Head Content Ends -->
    <!-- Content Starts -->
    <div class="content">
      <!-- Personal Info Starts -->
      <div id="personal-info">
        <!-- Personal Info Heading Starts -->
        <h5>Personal Info</h5>
        <!-- Personal Info Heading Ends -->
        <div class="row no-gutters">
          <!-- Profile Picture Starts -->
          <div class="profile-picture col-md-2 col-sm-3 col-12"></div>
          <!-- Profile Picture Ends -->
          <!-- Summary Starts -->
          <div class="summary col-md-10 col-sm-9 col-12">
            <!-- Single Paragraph Starts -->
            <p>
              I am a UI/UX Designer &amp; Web Developer from Silicon Valley,
              USA. I am very passionate and dedicated to my work. I have 5 years
              more work experience. And enjoy working in a team or individual.
            </p>
            <!-- Single Paragraph Ends -->
          </div>
          <!-- Summary Ends -->
          <!-- Single Profile Starts -->
          <div class="profile col-12 col-sm-6">
            <ul>
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>First Name</span>
                </span>
                <span class="dash">-</span>
                <span class="value">Jason</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Last Name</span>
                </span>
                <span class="dash">-</span>
                <span class="value">Smith</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Date of Birth</span>
                </span>
                <span class="dash">-</span>
                <span class="value">08 June 1992</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Nationality</span>
                </span>
                <span class="dash">-</span>
                <span class="value">United States</span>
              </li>
              <!-- Single Content On Profile Ends -->
            </ul>
          </div>
          <!-- Single Profile Ends -->
          <!-- Single Profile Starts -->
          <div class="profile col-12 col-sm-6">
            <ul>
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i><span>Phone</span>
                </span>
                <span class="dash">-</span>
                <span class="value">+76 21 19 34 20</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i><span>Email</span>
                </span>
                <span class="dash">-</span>
                <span class="value">you@yourwebsite.com</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i><span>Address</span>
                </span>
                <span class="dash">-</span>
                <span class="value">Silicon Valley, USA</span>
              </li>
              <!-- Single Content On Profile Ends -->
              <!-- Single Content On Profile Starts -->
              <li>
                <span class="label">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Languages</span>
                </span>
                <span class="dash">-</span>
                <span class="value">English, China</span>
              </li>
              <!-- Single Content On Profile Ends -->
            </ul>
          </div>
          <!-- Single Profile Ends -->
          <!-- Social Media Starts -->
          <div class="social-media col-12">
            <ul>
              <!-- Single Social Media Starts -->
              <li>
                <a href="#">
                  <span class="front">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                  <span class="back">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                </a>
              </li>
              <!-- Single Social Media Ends -->
              <!-- Single Social Media Starts -->
              <li>
                <a href="#">
                  <span class="front">
                    <i class="fab fa-twitter"></i>
                  </span>
                  <span class="back">
                    <i class="fab fa-twitter"></i>
                  </span>
                </a>
              </li>
              <!-- Single Social Media Ends -->
              <!-- Single Social Media Starts -->
              <li>
                <a href="#">
                  <span class="front">
                    <i class="fab fa-instagram"></i>
                  </span>
                  <span class="back">
                    <i class="fab fa-instagram"></i>
                  </span>
                </a>
              </li>
              <!-- Single Social Media Ends -->
              <!-- Single Social Media Starts -->
              <li>
                <a href="#">
                  <span class="front">
                    <i class="fab fa-linkedin-in"></i>
                  </span>
                  <span class="back">
                    <i class="fab fa-linkedin-in"></i>
                  </span>
                </a>
              </li>
              <!-- Single Social Media Ends -->
            </ul>
          </div>
          <!-- Social Media Ends -->
          <!-- Button Wrapper Starts -->
          <div class="button-wrapper col-12">
            <!-- Single Button Starts -->
            <div class="single-button">
              <a href="#">
                <span class="front">
                  <i class="fas fa-file-pdf"></i
                  ><span class="value">Download <span>CV</span></span>
                </span>
                <span class="back">
                  <i class="fas fa-file-pdf"></i
                  ><span class="value">Download <span>CV</span></span>
                </span>
              </a>
            </div>
            <!-- Single Button Ends -->
            <!-- Single Button Starts -->
            <div class="single-button" id="contact-me">
              <a href="#contact" id="contact-button">
                <span class="front">
                  <i class="fas fa-envelope"></i
                  ><span class="value">Contact <span>Me</span></span>
                </span>
                <span class="back">
                  <i class="fas fa-envelope"></i
                  ><span class="value">Contact <span>Me</span></span>
                </span>
              </a>
            </div>
            <!-- Single Button Ends -->
          </div>
          <!-- Button Wrapper Ends -->
        </div>
      </div>
      <!-- Personal Info Ends -->
      <!-- Services Starts -->
      <div id="services">
        <!-- Services Heading Starts -->
        <h5>Services</h5>
        <!-- Services Heading Ends -->
        <div class="row no-gutters">
          <!-- Single Service Starts -->
          <div class="single-service col-sm-6 col-12">
            <ul>
              <li class="service-number">
                <span class="first-word">Service</span>
                <span class="second-word">01</span>
              </li>
              <li>
                <ul>
                  <li class="service-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Web Design</span>
                  </li>
                  <li class="service-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Inventore exercitationem.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Single Service Ends -->
          <!-- Single Service Starts -->
          <div class="single-service col-sm-6 col-12">
            <ul>
              <li class="service-number">
                <span class="first-word">Service</span>
                <span class="second-word">02</span>
              </li>
              <li>
                <ul>
                  <li class="service-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Web Development</span>
                  </li>
                  <li class="service-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit dio
                    hic deser.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Single Service Ends -->
          <!-- Single Service Starts -->
          <div class="single-service col-sm-6 col-12">
            <ul>
              <li class="service-number">
                <span class="first-word">Service</span>
                <span class="second-word">03</span>
              </li>
              <li>
                <ul>
                  <li class="service-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>UI / UX Design</span>
                  </li>
                  <li class="service-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ipsa, nostrum ad temporibus consequuntur nobis.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Single Service Ends -->
          <!-- Single Service Starts -->
          <div class="single-service col-sm-6 col-12">
            <ul>
              <li class="service-number">
                <span class="first-word">Service</span>
                <span class="second-word">04</span>
              </li>
              <li>
                <ul>
                  <li class="service-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Photography</span>
                  </li>
                  <li class="service-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias adef trescing provident perferendis.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Single Service Ends -->
        </div>
      </div>
      <!-- Services Ends -->
    </div>
    <!-- Content Ends -->
  </div>
  <!-- Inner Content Ends -->
</div>
{% endblock content %}
