<li class="l-section section">
  <div class="contact">
    <div class="contact--lockup">
      <div class="modal">
        <div class="modal--information">
          <p>Virar,Mumbai(India)</p>
          <a href="mailto:saumyaranjan.sp20@gmail.com"
            >saumyaranjan.sp20@gmail.com</a
          >
          <a href="tel:+7977787573">+91 7977787473</a>
        </div>
        <ul class="modal--options">
          <li><a href="https://github.com/Saumya-ranjan">Github</a></li>
          <li>
            <a href="https://www.linkedin.com/in/saumyaranjan-parida-37a40b184/"
              >LinkedIn</a
            >
          </li>

          <li>
            <a href="mailto:saumyaranjan.sp20@gmail.com">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</li>
