{% block content %}

<!DOCTYPE html>
<html lang="zxx" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <!-- Description -->
    <meta
      name="description"
      content="Metronal is a clean and elegant Personal Portfolio Page. Metronal comes with a very attractive, simple and beautiful design with the effectiveness of colorful simplicity."
    />

    <!-- Keywords -->
    <meta
      name="keywords"
      content="Metronal, Personal Page, Portfolio, CV, Resume, One Page, Web Template"
    />

    <!-- Title -->
    <title>Saumyaranjan Parida</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,800%7COpen+Sans:400,400i,700"
      rel="stylesheet"
    />

    <!-- CSS Files -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="/static/assets/css/fontawesome/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/static/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="/static/assets/css/skins/skin1.css" rel="stylesheet" />
    <link href="/static/assets/css/custom.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
</html>
{% endblock content %}
