<li class="l-section section">
  <div  class="work">
    <h2 >My Projects </h2>
    <div class="work--lockup">
      <ul class="slider">
        <li class="slider--item slider--item-center">
          <a href="#0">
            <!-- <div class="slider--item-image">
              <img src="/static/assets/img/dcross.png" alt="Victory" />
            </div> -->
            <p class="slider--item-title">
              <span>
                <span style="color: white">Dcross</span>
                <hr />

                <span style="color: #c770f0">
                  eYIC 2020-21 Finalist <br />
                  (IIT-B)</span
                ></span
              > <hr>
              <a href="https://github.com/DCroSSLab">
                <i
                  style="color: white; padding-left: 3px"
                  class="fa fa-github"
                ></i
              ></a>

              <a href="https://www.youtube.com/watch?v=XwCat9TJUuE"
                ><span style="color: #ff0000"
                  ><i
                    style="padding-left: 3px"
                    class="fa fa-youtube-play"
                  ></i></span
              ></a>
            </p>
       

            <p class="slider--item-description">
              <span style="color: #c770f0"> Dcross</span>
              is an information system which aggregates data from
              <span style="color: #c770f0"
                >social media and government portals</span
              >
              onto a single dashboard to help data driven decision making during
              disasters.
            </p>
          </a>
        </li>
        <!-- <li class="slider--item slider--item-left">
          <a href="#0">
            <div class="slider--item-image">
              <img
                src="/static/assets/img/home1236.png"
                alt="Metiew and Smith"
              />
            </div>
            <p class="slider--item-title">
              <span style="color:whitesmoke"> Weather Unit </span><hr> <a href="https://github.com/Saumya-ranjan/WeatherUnit">
                <i
                  style="color: white; padding-left: 3px"
                  class="fa fa-github"
                ></i
              ></a>
            </p>
            <p class="slider--item-description">
              Weather Unit is a <span style="color: #c770f0">web-based application</span>  to view the current
              weather in cities. We take API from <span style="color: #c770f0"> openweathermap.org</span> and
              accumulate it on our site. We also provide visual <span style="color: #c770f0">map data</span>  as well
              as <span style="color: #c770f0"> predictions</span> of the upcoming 5 days.
            </p>
          </a>
        </li> -->
        <li class="slider--item slider--item-right">
          <a href="#0">
            <!-- <div class="slider--item-image">
              <img
                src="/static/assets/img/work-alex-nowak.jpg"
                alt="Alex Nowak"
              />
            </div> -->
            <p style="color:white"class="slider--item-title">Stock Gate <hr><a href="https://github.com/Saumya-ranjan/stock-gate">
                <i
                  style="color: white; padding-left: 3px"
                  class="fa fa-github"
                ></i
              ></a></p>
            <p style="color:white"class="slider--item-description">
             <span style="color: #c770f0">Stock Gate</span>  is currently in development.
              This application will give all the details about recent
              and profitable <span style="color: #c770f0"> stocks, Mutual funds, crypto</span> and would be
              able to make <span style="color: #c770f0">analysis</span> for what to buy. 
              This web application also have <span style="color: #c770f0">rooms</span> so that a trader
              can talk with each other. 
            </p>
          </a>
        </li>
         <li class="slider--item slider--item-left">
          <a href="#0">
            <!-- <div class="slider--item-image">
              <img
                src="/static/assets/img/work-alex-nowak.jpg"
                alt="Alex Nowak"
              />
            </div> -->
            <p style="color:white"class="slider--item-title">watch-with-me<hr><a href="https://github.com/Saumya-ranjan/watch-with-me">
                <i
                  style="color: white; padding-left: 3px"
                  class="fa fa-github"
                ></i
              ></a></p>
            <p style="color:white"class="slider--item-description">
             <span style="color:#c770f0">Watch with me </span> is a web-based application to watch <span style="color:#c770f0">movies and series.</span>  The user may be able to signup with his details and log in simultaneously. 
             Users can also select series and movies by their <span style="color:#c770f0">genre</span>.
               In the <span style="color:#c770f0">admin section</span>, the admin can add movies so that users can watch it simultaneously.
            </p>
          </a>
        </li>
      </ul>
      
      <div class="slider--prev">
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 150 118"
          style="enable-background: new 0 0 150 118"
          xml:space="preserve"
        >
          <g
            transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)"
          >
            <path
              d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"
            />
          </g>
        </svg>
      </div>
      
      <div class="slider--next">
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 150 118"
          style="enable-background: new 0 0 150 118"
          xml:space="preserve"
        >
          <g
            transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)"
          >
            <path
              d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"
            />
          </g>
        </svg>
      </div>
    </div>
  </div>
  
</li>

