{% block content %}
<div id="resume" class="main-content">
  <!-- Close Button Starts -->
  <a href="#home" class="close-menu-link">
    <i class="fas fa-times-circle fa-2x"></i>
  </a>
  <!-- Close Button Ends -->
  <!-- Content Hanging On Resume Section Starts -->
  <div class="hanging">
    <div class="logo-hanging">
      <i class="fas fa-newspaper"></i>
    </div>
    <div class="text-hanging">
      <div class="word">
        <h6>MY <span>RESUME</span></h6>
      </div>
    </div>
  </div>
  <!-- Content Hanging On Resume Section Ends -->
  <!-- Inner Content Starts -->
  <div class="inner-content">
    <!-- Head Content Starts -->
    <div class="head-content">
      <h3>My <span>Resume</span></h3>
    </div>
    <!-- Head Content Ends -->
    <!-- Content Starts -->
    <div class="content">
      <!-- Skills Starts -->
      <div class="skills">
        <!-- Skills Heading Starts -->
        <h5>Skills</h5>
        <!-- Skills Heading Ends -->
        <div class="row no-gutters">
          <!-- Single Skills Wrapper Starts -->
          <div class="single-skills-wrapper col-12 col-sm-6">
            <ul>
              <!-- Skills Heading Starts -->
              <li class="skills-heading">
                <span class="first-word">Soft</span>
                <span class="second-word">Skills</span>
              </li>
              <!-- Skills Heading Ends -->
              <li>
                <ul>
                  <!-- Single Skill Starts -->
                  <li class="single-skill">
                    <ul>
                      <li class="skill-name">
                        <i class="fas fa-angle-double-right"></i
                        ><span>Leadership</span>
                      </li>
                      <!-- Range Of Percentage 0% - 100% -->
                      <li class="percentage">85%</li>
                      <li class="progress-wrapper">
                        <span class="progress"></span>
                      </li>
                    </ul>
                  </li>
                  <!-- Single Skill Ends -->
                  <!-- Single Skill Starts -->
                  <li class="single-skill">
                    <ul>
                      <li class="skill-name">
                        <i class="fas fa-angle-double-right"></i
                        ><span>Teamwork</span>
                      </li>
                      <!-- Range Of Percentage 0% - 100% -->
                      <li class="percentage">92%</li>
                      <li class="progress-wrapper">
                        <span class="progress"></span>
                      </li>
                    </ul>
                  </li>
                  <!-- Single Skill Ends -->
                  <!-- Single Skill Starts -->
                  <li class="single-skill">
                    <ul>
                      <li class="skill-name">
                        <i class="fas fa-angle-double-right"></i
                        ><span>Communication</span>
                      </li>
                      <!-- Range Of Percentage 0% - 100% -->
                      <li class="percentage">78%</li>
                      <li class="progress-wrapper">
                        <span class="progress"></span>
                      </li>
                    </ul>
                  </li>
                  <!-- Single Skill Ends -->
                  <!-- Single Skill Starts -->
                  <li class="single-skill">
                    <ul>
                      <li class="skill-name">
                        <i class="fas fa-angle-double-right"></i
                        ><span>Problem Solving</span>
                      </li>
                      <!-- Range Of Percentage 0% - 100% -->
                      <li class="percentage">82%</li>
                      <li class="progress-wrapper">
                        <span class="progress"></span>
                      </li>
                    </ul>
                  </li>
                  <!-- Single Skill Ends -->
                </ul>
              </li>
            </ul>
          </div>
          <!-- Single Skills Wrapper Ends -->
          <!-- Single Skills Wrapper Starts -->
          <div class="single-skills-wrapper col-12 col-sm-6">
            <ul>
              <!-- Skills Heading Starts -->
              <li class="skills-heading">
                <span class="first-word">Technical</span>
                <span class="second-word">Skills</span>
              </li>
              <!-- Skills Heading Ends -->
              <li>
                <ul>
                  <!-- Single Skill Starts -->
                  <li class="single-skill">
                    <ul>
                      <li class="skill-name">
                        <i class="fas fa-angle-double-right"></i
                        ><span>Django</span>
                      </li>
                      <!-- Range Of Percentage 0% - 100% -->
                      <li class="percentage">90%</li>
                      <li class="progress-wrapper">
                        <span class="progress"></span>
                      </li>
                    </ul>
                  </li>
                  <!-- Single Skill Ends -->
                  <!-- Single Skill Starts -->
                  <li class="single-skill">
                    <ul>
                      <li class="skill-name">
                        <i class="fas fa-angle-double-right"></i
                        ><span>Mern Stack</span>
                      </li>
                      <!-- Range Of Percentage 0% - 100% -->
                      <li class="percentage">80%</li>
                      <li class="progress-wrapper">
                        <span class="progress"></span>
                      </li>
                    </ul>
                  </li>
                  <!-- Single Skill Ends -->
                  <!-- Single Skill Starts -->
                  <li class="single-skill">
                    <ul>
                      <li class="skill-name">
                        <i class="fas fa-angle-double-right"></i
                        ><span>Machine Learning</span>
                      </li>
                      <!-- Range Of Percentage 0% - 100% -->
                      <li class="percentage">85%</li>
                      <li class="progress-wrapper">
                        <span class="progress"></span>
                      </li>
                    </ul>
                  </li>
                  <!-- Single Skill Ends -->
                  <!-- Single Skill Starts -->
                  <li class="single-skill">
                    <ul>
                      <li class="skill-name">
                        <i class="fas fa-angle-double-right"></i
                        ><span>UI / UX Design</span>
                      </li>
                      <!-- Range Of Percentage 0% - 100% -->
                      <li class="percentage">75%</li>
                      <li class="progress-wrapper">
                        <span class="progress"></span>
                      </li>
                    </ul>
                  </li>
                  <!-- Single Skill Ends -->
                </ul>
              </li>
            </ul>
          </div>
          <!-- Single Skills Wrapper Ends -->
        </div>
      </div>
      <!-- Skills Ends -->
      <!-- Education Starts -->
      <div class="education">
        <h5>Education</h5>

        <div class="row no-gutters">
          <div class="single-education col-sm-6 col-12">
            <ul>
              <li class="education-when-where">
                <span class="when">2016 - 2017</span>
                <span class="where"></span>
              </li>
              <li>
                <ul>
                  <li class="education-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>High School</span>
                  </li>
                  <li class="education-body">
                    CBSE - (91%) S.M.T Taramai Vartak Memorial Academy, Virar
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="single-education col-sm-6 col-12">
            <ul>
              <li class="education-when-where">
                <span class="when">2017 - 2019</span>
                <span class="where"></span>
              </li>
              <li>
                <ul>
                  <li class="education-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>College</span>
                  </li>
                  <li class="education-body">
                    CBSE – (78%) Muljibhai Mehta International School, Virar
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="single-education col-sm-6 col-12">
            <ul>
              <li class="education-when-where">
                <span class="when">2019 - 2023</span>
                <span class="where"></span>
              </li>
              <li>
                <ul>
                  <li class="education-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span> Engineering College</span>
                  </li>
                  <li class="education-body">
                    Bachelor of Engineering, Computer Engineering - (8.14) CGPA
                    VIVA Institute of Technology, Virar.
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- <div class="single-education col-sm-6 col-12">
            <ul>
              <li class="education-when-where">
                <span class="when">2006 - 2009</span>
                <span class="where">New York</span>
              </li>
              <li>
                <ul>
                  <li class="education-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Engineering Diploma</span>
                  </li>
                  <li class="education-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Inventore exercitationem.
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->
        </div>
      </div>

      <!-- <div class="experience">
     
        <h5>Experience</h5>
       
        <div class="row no-gutters">

          <div class="single-experience col-sm-6 col-12">
            <ul>
              <li class="experience-when-where">
                <span class="when">2017 - Present</span>
                <span class="where">Google</span>
              </li>
              <li>
                <ul>
                  <li class="experience-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Full-Stack Web Developer</span>
                  </li>
                  <li class="experience-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias provident perferendis.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
    
          <div class="single-experience col-sm-6 col-12">
            <ul>
              <li class="experience-when-where">
                <span class="when">2013 - 2017</span>
                <span class="where">IBM</span>
              </li>
              <li>
                <ul>
                  <li class="experience-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>UI / UX Designer</span>
                  </li>
                  <li class="experience-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ipsa, nostrum ad temporibus.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
         
          <div class="single-experience col-sm-6 col-12">
            <ul>
              <li class="experience-when-where">
                <span class="when">2010 - 2013</span>
                <span class="where">Envato</span>
              </li>
              <li>
                <ul>
                  <li class="experience-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Front-End Developer</span>
                  </li>
                  <li class="experience-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit dio
                    hic deser.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
   
          <div class="single-experience col-sm-6 col-12">
            <ul>
              <li class="experience-when-where">
                <span class="when">2008 - 2010</span>
                <span class="where">Adobe</span>
              </li>
              <li>
                <ul>
                  <li class="experience-name">
                    <i class="fas fa-angle-double-right"></i
                    ><span>Community Manager</span>
                  </li>
                  <li class="experience-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Inventore exercitationem.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
     
        </div>
      </div> -->
      <!-- 
      <div class="fun-facts">
        <h5>Fun Facts</h5> -->
      <!-- Fun Facts Heading Ends -->
      <!-- <div class="row no-gutters">
          <div class="single-fun-fact col-12 col-sm-4">
            <ul>
              <li class="fun-fact-icon">
                <i class="fas fa-business-time fa-3x"></i>
              </li>
              <li class="fun-fact-value">5+</li>
              <li class="fun-fact-body">
                <i class="fas fa-angle-double-right"></i
                ><span>Years Experience</span>
              </li>
            </ul>
          </div>

          <div class="single-fun-fact col-12 col-sm-4">
            <ul>
              <li class="fun-fact-icon">
                <i class="fas fa-handshake fa-3x"></i>
              </li>
              <li class="fun-fact-value">40+</li>
              <li class="fun-fact-body">
                <i class="fas fa-angle-double-right"></i
                ><span>Done Projects</span>
              </li>
            </ul>
          </div>

          <div class="single-fun-fact col-12 col-sm-4">
            <ul>
              <li class="fun-fact-icon">
                <i class="fas fa-heart fa-3x"></i>
              </li>
              <li class="fun-fact-value">87+</li>
              <li class="fun-fact-body">
                <i class="fas fa-angle-double-right"></i
                ><span>Happy Customers</span>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      <!-- Fun Facts Ends -->
      <!-- Button Wrapper Starts -->
      <div class="button-wrapper">
        <!-- Single Button Starts -->
        <a
          href="https://drive.google.com/file/d/1amho96-QGr8XatjKNiEbcdujGMXeUPwJ/view?usp=sharing"
        >
          <span class="front">
            <i class="fas fa-file-pdf"></i
            ><span class="value">Download <span>Resume</span></span>
          </span>
          <span class="back">
            <i class="fas fa-file-pdf"></i
            ><span class="value">Download <span>Resume</span></span>
          </span>
        </a>
        <!-- Single Button Ends -->
      </div>
      <!-- Button Wrapper Ends -->
    </div>
    <!-- Content Ends -->
  </div>
  <!-- Inner Content Ends -->
</div>
{% endblock content %}
