<div id="portfolio" class="main-content">
  <!-- Close Button Starts -->
  <a href="#home" class="close-menu-link">
    <i class="close-button fas fa-times-circle fa-2x"></i>
  </a>
  <!-- Close Button Ends -->
  <!-- Content Hanging On Portfolio Section Starts -->
  <div class="hanging">
    <div class="logo-hanging">
      <i class="fas fa-toolbox"></i>
    </div>
    <div class="text-hanging">
      <div class="word">
        <h6>MY <span>Blogs</span></h6>
      </div>
    </div>
  </div>
  <!-- Content Hanging On Portfolio Section Ends -->
  <!-- Inner Content Starts -->
  <div class="inner-content">
    <!-- Head Content Starts -->
    <div class="head-content">
      <h3>My <span>Blogs</span></h3>
    </div>
    <!-- Head Content Ends -->
    <!-- Content Starts -->
    <div class="content">
      <!-- Projects Starts -->
      <div id="projects">
        <!-- Projects Heading Starts -->
        <h5>Blogs</h5>
        <!-- Projects Heading Ends -->
        <div class="row no-gutters">
          <!-- Portfolio Filter Starts -->
          <div class="portfolio-filter col-12">
            <ul>
              <!-- Single Filter Starts -->
              <li>
                <a href="#" data-filter="*" class="current">All Blogs</a>
              </li>
              <!-- Single Filter Ends -->
              <!-- Single Filter Starts -->
              <li>
                <a href="#" data-filter=".web-templates">Machine Learning</a>
              </li>
              <!-- Single Filter Ends -->
              <!-- Single Filter Starts -->
              <li>
                <a href="#" data-filter=".logos">Django</a>
              </li>
              <!-- Single Filter Ends -->
              <!-- Single Filter Starts -->
              <li>
                <a href="#" data-filter=".drawings">Web Development</a>
              </li>
              <!-- Single Filter Ends -->
              <!-- Single Filter Starts -->

              <!-- Single Filter Ends -->
            </ul>
          </div>
          <!-- Portfolio Filter Ends -->
          <!-- Portfolio Item Starts -->
          <div class="portfolio-item col-12">
            <div class="item-wrapper row">
              <!-- Single Item Starts -->
              <div class="item web-templates col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img
                    src="static/img/projects/data-analysis-landing-page.jpg"
                    alt="Data Analysis Landing Page"
                  />
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#data-analysis-landing-page">
                    <span class="front">
                      <i class="far fa-eye"></i
                      ><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i
                      ><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Machine Learning Overview</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Machine Learning</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                <!-- Project Popup Starts -->
                <div
                  id="data-analysis-landing-page"
                  class="project-popup mfp-hide"
                >
                  <!-- Project Picture On Popup Starts -->
                  <img
                    class="project-picture"
                    src="static/img/projects/data-analysis-landing-page.jpg"
                    alt="Data Analysis Landing Page"
                  />
                  <!-- Project Picture On Popup Ends -->
                  <!-- Project Name Starts -->
                  <h5 class="project-name">Machine Learning</h5>
                  <!-- Project Name Ends -->
                  <!-- Project Info Starts -->
                  <div class="project-info">
                    <!-- List Info Project Starts -->
                    <ul class="list-info-project">
                      <!-- Single List Starts -->
                      <li>
                        <span class="label">Machine Learning Overview</span>
                        <span class="separator"></span>
                        <span class="value"></span>
                      </li>
                      <!-- Single List Ends -->
                      <!-- Single List Starts -->
                      <li>
                        <span class="label">Date</span>
                        <span class="separator">:</span>
                        <span class="value">15 December 2021</span>
                      </li>
                      <!-- Single List Ends -->
                      <!-- Single List Starts -->
                      <li>
                        <span class="label">Categories</span>
                        <span class="separator">:</span>
                        <span class="value">Machine Learning</span>
                      </li>
                      <!-- Single List Ends -->
                    </ul>
                    <!-- List Info Project Ends -->
                    <!-- Project Description Starts -->
                    <div class="project-description">
                      <!-- Single Paragraph Starts -->
                      <p>Blog will be available soon..</p>
                      <!-- Single Paragraph Ends -->
                      <!-- Single Paragraph Starts -->
                      <p>will be avail soon..</p>
                      <!-- Single Paragraph -->
                    </div>
                    <!-- Project Description Ends -->
                  </div>
                  <!-- Project Info Ends -->
                  <!-- Project Source Button Starts -->
                  <a class="project-source" href="#">
                    <span class="front">
                      <i class="fas fa-long-arrow-alt-right"></i>
                      <span class="value">Visit <span>Project</span></span>
                    </span>
                    <span class="back">
                      <i class="fas fa-long-arrow-alt-right"></i>
                      <span class="value">Visit <span>Project</span></span>
                    </span>
                  </a>
                  <!-- Project Source Button Ends -->
                </div>
                <!-- Project Popup Ends -->
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item logos drawings col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img
                    src="static/assets/img/projects/hand-drawn-space-badge-collection.jpg"
                    alt="Django"
                  />
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a
                    class="view-more"
                    href="#hand-drawn-space-badge-collection"
                  >
                    <span class="front">
                      <i class="far fa-eye"></i
                      ><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i
                      ><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Django Overview</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Django, Python</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                <!-- Project Popup Starts -->
                <div
                  id="hand-drawn-space-badge-collection"
                  class="project-popup mfp-hide"
                >
                  <!-- Project Picture On Popup Starts -->
                  <img
                    class="project-picture"
                    src="/static/assets/img/projects/hand-drawn-space-badge-collection.jpg"
                    alt="Hand Drawn Space Badge Collection"
                  />
                  <!-- Project Picture On Popup Ends -->
                  <!-- Project Name Starts -->
                  <h5 class="project-name">Django</h5>
                  <!-- Project Name Ends -->
                  <!-- Project Info Starts -->
                  <div class="project-info">
                    <!-- List Info Project Starts -->
                    <ul class="list-info-project">
                      <!-- Single List Starts -->
                      <li>
                        <span class="label">Django Overview</span>
                        <span class="separator"></span>
                        <span class="value"></span>
                      </li>
                      <!-- Single List Ends -->
                      <!-- Single List Starts -->
                      <li>
                        <span class="label">Date</span>
                        <span class="separator">:</span>
                        <span class="value">24 December 2021</span>
                      </li>
                      <!-- Single List Ends -->
                      <!-- Single List Starts -->
                      <li>
                        <span class="label">Categories</span>
                        <span class="separator">:</span>
                        <span class="value">Django</span>
                      </li>
                      <!-- Single List Ends -->
                    </ul>
                    <!-- List Info Project Ends -->
                    <!-- Project Description Starts -->
                    <div class="project-description">
                      <!-- Single Paragraph Starts -->
                      <p>will be avail soon..</p>
                      <!-- Single Paragraph Ends -->
                      <!-- Single Paragraph Starts -->
                      <p>..</p>
                      <!-- Single Paragraph -->
                    </div>
                    <!-- Project Description Ends -->
                  </div>
                  <!-- Project Info Ends -->

                  <!-- Project Source Button Ends -->
                </div>
                <!-- Project Popup Ends -->
              </div>
              <!-- Single Item Ends -->
            </div>
          </div>
          <!-- Portfolio Item Ends -->
        </div>
      </div>
      <!-- Projects Ends -->
    </div>
    <!-- Content Ends -->
  </div>
  <!-- Inner Content Ends -->
</div>
