{% extends 'header.html' %} {% block content %}
<body>
  <!-- Pre Load Starts -->
  <div id="pre-load">
    <div class="load-circle"></div>
  </div>
  <div id="wrapper">
    <div class="container-fluid">
      <div class="row no-gutters v-full">
        <!-- Left Wrapper Starts -->
        <div id="left-wrapper" class="col-12 col-lg-8">
          <!-- Main Content (Home) Starts -->
          {% include 'base/index-body.html'%}
          <!-- Main Content (Home) Ends -->
          <!-- Main Content (About) Starts -->
          {% include 'base/about.html' %}
          <!-- Main Content (About) Ends -->
          <!-- Main Content (Resume) Starts -->
          {% include 'base/resume.html' %}
          <!-- Main Content (Resume) Ends -->
          <!-- Main Content (Portfolio) Starts -->
          {% include 'base/blog.html' %}
          <!-- Main Content (Portfolio) Ends -->
          <!-- Main Content (Contact) Starts -->
          {% include 'base/contact.html' %}
          <!-- Main Content (Contact) Ends -->
        </div>
        <!-- Left Wrapper Ends -->
        <!-- Right Wrapper Starts -->
        <div id="right-wrapper" class="col-lg-4">
          <!-- Large Profile Picture Starts -->

          <!-- Large Profile Picture Ends -->
        </div>
        <!-- Right Wrapper Ends -->
      </div>
    </div>
  </div>
  <!-- Wrapper Ends -->

  <!-- JS Files -->
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/imagesloaded.pkgd.min.js"></script>
  <script src="/static/js/isotope.pkgd.min.js"></script>
  <script src="/static/js/magnific-popup.min.js"></script>
  <script src="/static/js/typeit.min.js"></script>
  <script src="/static/js/custom.js"></script>
</body>

{% endblock %}
